
.inter-font {
  font-family: "Inter", sans-serif;
 
}
*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}
#menu{
    max-width: 1600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px, 120px;
    height: 92px;
    background-color: rgba(255, 255, 255, 1);
}
.img{
    width: 139px;
    height: 60px;
}
.menu-list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 24px;
    font-size: 16px;
    font-weight: 500px;
    color: rgba(0, 0, 0, 1);
}
.btn{
    width: 164px;
    height: 44px;
   padding: 12px, 16px;
   color: rgba(255, 255, 255, 1);
   background-color:#30B868 ;
  font-size: 16px;
  font-weight: 500;
  /* line-height: 19px; */
  border-radius: 4px;
  cursor: pointer;
  border: none;

}
.btn:hover{
    background-color:red;
}
/* banner section */
#banner{
    background-image: url("/assets/hero-bg.png");
    max-width: 100%;
    height: 100vh;
    display: flex;
    
}
.banner-container{
    text-align: center;
    padding-top: 162px;
    /* padding-left: 220px; */
   margin: 0 auto;
}
.banner-container h1{
    padding: 16px, 295px;
    font-size: 72px;
    align-content: center;
    font-weight: 700px;
    /* row-gap: 84px; */
}
.banner-container h1 .span-1{
    color: #FFFFFF;

}
.banner-container h1 .span-2{
    color: #30B868;
}
.banner-container p{
  text-align: center;
  padding: 0 320px;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  line-height: 24px;
  margin-top: -25px;

}

.btn-2{
    width: 183px;
    height: 19px;
    color: rgba(70, 145, 101, 1);
    border-radius: 20px;
    margin-bottom: 20px;
}
.btn-3{
    font-size:16px ;
    font-weight: 600px;
    color:#FFFFFF;
    background-color: #30B868;
    padding: 8px 10px;
    gap: 20px;
    border-radius: 4px;
    border: none;
    gap: 16px;
}
.btn-4{
    font-size:16px ;
    font-weight: 600px;
    color:#FFFFFF;
    padding: 8px 10px;
    gap: 20px; 
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: rgba(0, 25, 49, 0.8);
}
.btn-both{
    gap: 16px;
}