.inter-font {
    font-family: "Inter", sans-serif;

}

* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu {
    max-width: 1600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px, 120px;
    height: 92px;
    background-color: rgba(255, 255, 255, 1);
}

.img {
    width: 139px;
    height: 60px;
}

.menu-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 24px;
    font-size: 16px;
    font-weight: 500px;
    color: rgba(0, 0, 0, 1);
}

.btn {
    width: 164px;
    height: 44px;
    padding: 12px, 16px;
    color: rgba(255, 255, 255, 1);
    background-color: #30B868;
    font-size: 16px;
    font-weight: 500;
    /* line-height: 19px; */
    border-radius: 4px;
    cursor: pointer;
    border: none;

}

.btn:hover {
    background-color: red;
}

/* banner section */
#banner {
    background-image: url("/assets/hero-bg.png");
    max-width: 100%;
    height: 100vh;
    display: flex;

}

.banner-container {
    text-align: center;
    padding-top: 120px;
    /* padding-left: 220px; */
    margin: 0 auto;
}

.banner-container h1 {
    padding: 16px, 200px;
    font-size: 72px;
    align-content: center;
    font-weight: 700px;
    /* row-gap: 84px; */
}

.banner-container h1 .span-1 {
    color: #FFFFFF;

}

.banner-container h1 .span-2 {
    color: #30B868;
}

.banner-container p {
    text-align: center;
    padding: 0 320px;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    line-height: 24px;
    margin-top: -25px;

}

.btn-2 {
    width: 183px;
    height: 19px;
    color: rgba(70, 145, 101, 1);
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.banner-content .btn-2:hover{
    background-color: aqua;
}

.btn-3 {
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
    background-color: #30B868;
    padding: 8px 10px;
    gap: 20px;
    border-radius: 4px;
    border: none;
    gap: 16px;
    cursor: pointer;
}
.btn-3:hover{
    background-color: blue;
}

.btn-4 {
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
    padding: 8px 10px;
    gap: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: rgba(0, 25, 49, 0.8);
    cursor: pointer;
}
.btn-4:hover{
    background-color: burlywood;
}

#banner .banner-container .btn-both {
    display: flex;
    gap: 16px;
    justify-content: center;


}

.notes-content {
    text-align: center;
    max-width: 1350px;
    margin-top: 30px;

}

.notes-content h2 {
    font-size: 48px;
    font-weight: 700px;
    color: rgba(0, 0, 0, 1);
}

.notes-content p {
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    color: rgba(98, 115, 130, 1);
    margin-top: -40px;
}

#notes {
    padding: 0 120px;
}

.notes-card {
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    align-items: center;
    text-align: center;
    /* padding: auto, 120px; */
    gap: 20px;
    /* background-color: rgba(255, 255, 255, 1); */
    /* box-shadow: 0px 0px 8px 0px ;  */
    border-radius: 8px;
}

.notes-card .card-1 {
    padding: 24px;
    margin-top: 0px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    /* border: 1px solid black; */



}

.notes-card .card-1 .img-1 {
    background-color: #F95555;
    /* border: 1px solid black; */
    border-radius: 50px;
    width: 50px;
    height: 50px;
    /* display: flex;  */
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
}

.notes-card .card-1 h4 {
    font-size: 24px;
    font-weight: 600px;
    /* text-align: center; */
    color: rgba(0, 25, 49, 1);
}

.notes-card .card-1 p {
    font-size: 16px;
    font-weight: 400px;
    color: rgba(98, 115, 130, 1);
    margin-top: -20px;
}

#second-brain {
    margin-top: 40px;
    display: flex;
    gap: 80px;
    padding: 80px;
    /* margin: 0 auto; */

}

#second-brain .brain-image {
    width: 500px;
    height: 500px;
   
}


#second-brain .brain-content{
    text-align: center;
    align-items: center;
    margin: auto;
}

#second-brain .brain-content .paragraph-1{
    font-size: 16px;
    font-weight: 500px;
    color: rgba(70, 145, 101, 1);
    text-align: left;
    
}
#second-brain .brain-content h2{
  font-size: 48px;
    font-weight: 700px;
    color: rgba(0, 25, 49, 1);
    text-align: left; 
}
#second-brain .brain-content .paragraph-2{
     font-size: 16px;
    font-weight: 400px;
    color: rgba(98, 115, 130, 1);
    line-height: 20px;
    text-align:left;
    padding-right: 120px;
    margin-top: -30px;

}
#second-brain .brain-content .list{
    list-style: none;
    text-align: left;
    align-items: center;
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
}
#access{
    margin: 120px 80px;
    align-items: center;
    text-align: center;
    padding: 80px 40px;
    background-color: #F7F6F2;
    border-radius: 12px;
    max-width: 1350px;

}
#access .container h2{

    font-size: 40px;
    font-weight: 700px;
    color: rgba(0, 25, 49, 1);
    line-height: 48px;
}
#access .container p{
    font: 16px;
    font-weight: 40px;
    line-height: 24px;
    color: rgba(98, 115, 130, 1);
    margin-top: -30px;

    
}
.btn-5{
    padding: 12px 16px;
    background-color: #469165;
    font-size:16px;
    font-weight:600px;
    color:#FFFFFF ;
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    border: none;
    margin-bottom: 30px;
    cursor: pointer;
}
.btn-5:hover{
    background-color: chartreuse;
}

#access .container .paragraph-3{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(98, 115, 130, 1);
}
