
.inter-font {
  font-family: "Inter", sans-serif;
 
}
*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}
#menu{
    max-width: 1600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px, 120px;
    height: 92px;
    background-color: rgba(255, 255, 255, 1);
}
.img{
    width: 139px;
    height: 60px;
}
.menu-list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 24px;
    font-size: 16px;
    font-weight: 500px;
    color: rgba(0, 0, 0, 1);
}
.btn{
    width: 164px;
    height: 44px;
   padding: 12px, 16px;
   color: rgba(255, 255, 255, 1);
   background-color:#30B868 ;
  font-size: 16px;
  font-weight: 500;
  /* line-height: 19px; */
  border-radius: 4px;

}